* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#cuerpo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #cuerpo .card-body {
    height: 15rem; }

.footer {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  background-color: black;
  color: white; }
  .footer .footerDescripcion {
    display: flex;
    justify-content: space-around;
    background-color: black; }
    .footer .footerDescripcion .redes {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
