*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    .container-fluid{
        .navbar-brand{
            font-size: xx-large;
            font-weight: bolder;
            color: rgb(0, 0, 0);
            margin-left: 1rem;
        }
        a{
            color: rgb(0, 0, 0);
        }
    }
    i{
        font-size: xx-large;
    }
}
#popOverCarrito{
    position: absolute;
    left: 75%; bottom: 92%;
    z-index: 1;
    padding: 0.5rem;
    text-align: center;
    font-size: x-large;
}
#completarCompra{
    text-align: center;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    /* background-color: rgb(255, 158, 11); */
    .card {
        margin: 5px;
        padding-top: 5px;
        /* border: rgb(0, 0, 0) solid; */
        border-radius: 1rem;
        background-color: rgb(255, 158, 11);
        h2{
            font-weight: bolder;
            color: rgb(0, 0, 0);
        }
        h5 .card{
            color: rgb(26, 26, 26);  
        }
        p .card{
            color: rgb(0, 0, 0);
            font-size: xx-large;
            font-weight: bolder;
        }
        img{
            height: 15.4rem;
            object-fit: contain;
        }
   }
}

#carrito{
    justify-content: space-evenly;
}
