*{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 167, 8, 0.9);
    box-sizing: border-box;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    .cuerpoProducto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 1rem;
        .descripcion{
            text-align: center;
        }
        button{
            width: 1rem;
        }
        .botonMas{
            background-color: rgb(0, 68, 255);
        }
        .botonMenos{
            background-color: rgb(255, 68, 0);
        }
    }
}
.footer{
    position: fixed;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    .footerDescripcion{
        display: flex;
        justify-content: space-around;
        background-color: rgb(0, 0, 0);
        .redes{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}